*{
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    width: 100%;  
    height: 12vh; 
    align-items: center;
    margin-bottom: 5vh;
    scroll-margin-top: 180px;
}
body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
}
button{
    padding: 20px;
    background-color: #8C9FE3;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor:pointer;
    font-size: 25px;

}
section{
    margin-top: 4vh;
    scroll-margin-top: 180px;
}
h1{
    font-size: 45px;
    margin-bottom: 2vh;
    text-align: center;
}
h2{
    color: gray;
    font-size: 35px;
    margin-bottom: 7vh;
    text-align: center;

}

.name{
    flex-grow: 0;
    font-size: 4vh;
    padding-top: 0.4em;
}
.menuHeader{
    display: flex;
    justify-content: center;
    flex-grow: 2;
    font-size: 27px;
    
}
.logistButton{
    margin-left: auto;

}


.contactButton{
    flex-grow: 0;
    padding: 1vw;
    background-color: #8C9FE3;
    color: white;
    border: none;
    border-radius: 0.5em;
    margin-left: 7vw;
    font-size: 20px;
}
.headerContanierImg{
    
    margin-bottom: 5vh;

}

.headerImg{
    height: 500px;
    width: 1200px;
    border-radius: 2em;
    object-fit: cover; 
    object-position: center;
}

.productsSection{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.productsCard{
    display: flex;
}
.productCard{
    margin: auto;
    border: 1px solid gray;
    border-radius: 2em;
    width: 28%;
    padding: 40px;
    box-sizing: border-box

}
.productImg{
    object-fit: cover; 
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 1em;
}
.nameProduct{
    font-size: 35px;
}
.descriptionProduct{
    font-size: 27px;
    color: gray;
    margin-bottom: 20px;
}

.reviewsSection{
    text-align: center;
}
.photoReview{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover; 

}

.nameReview{
    font-size: 37px;

}
.reviewsScroll{
    display: flex; 
    margin: auto 4vw;

}
.reviews{
   margin-left: 10%;
   margin-right: 10%;
   font-size: 25px;
   margin-bottom: 15px;
}
#reviewSlider {
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
  }
  
  
  .dots {
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 35px;
    height: 18px;
    background: #ACADB9;
    border-radius: 10%;
    margin: 0 4px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .dot.active {
    background: #8C9FE3;
    width: 42px;
  }


.reviewButton{
    background-color: white;
    box-shadow:0 0 15px 2px#8C9FE3;
    border-radius: 50%;
    height: 70px;
    width: 80px;
    margin: auto;
}
.left{
    transform: rotate(180deg);

}

.reviewButton:hover{
    box-shadow:0 0 15px 5px#8C9FE3;
}

.reviewButtonImg{
width: 30px;
height: 30px;
padding: auto;

}

.helpInputBlock{
    border: 1px solid black;
    border-radius: 1em;
    display: block;
}
.helpBlock {
    display: block;
    margin: 2vh auto ;
}
.helpInput{
    border-radius: 2em;
    border: 1px solid gray;
    padding: 25px;
    width: 300px;
    font-size: 20px;
}




.mapBlock{
    height: 350px;
    width: 100vw;
}
.imgMap{
    object-fit: cover; 
    height: 350px;
    width: 100vw;
}
.contactBlock{
    background-color: white;
    position: absolute;
    left: 10vw;
    margin-top: 40px;  
    width: 25%;
    z-index: 1;
    border-radius: 1em;
    text-align: left;
    padding: 1.5em;
    
}
.contactName{
    text-align: left;

}
.contactText{
    font-size: 20px;
    margin: 0;
    text-align: left;
    width: 80%;
}
.email{
    margin-bottom: 2vh;
}


.contactBlockContanier{
    height: 100px;
    width: 100px;
    background-color: black;

}

.modelBlock{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    padding-top: 7em;
   
}
.close{
    display: flex;
    justify-self: end;
}
.contactInputBlock{
    
    margin: auto;
    width: 30%;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    background-color: white;
}